<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test-Parallel Suite" parallel="methods" thread-count="4" >
    <test name="Test-Parallel test">
        <classes>
            <class name="com.sii.PageObjectTest.DemoqaTest.DemoqaFunctionalityTest" />
        </classes>
    </test>
</suite>